<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表筛选</title>
    <link rel="shortcut icon" href="../../image/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>

<body>
<div id="div1">
    <input type="text" placeholder="请输入关键词" v-model="keyWords">
    <ul>
        <li v-for="p in fillPersons">{{p.name}}-{{p.age}}</li>
    </ul>
</div>
</body>
<script type="text/javascript">
    /*用watch实现*/
    /*new Vue({
        el: '#div1',
        data: {
            keyWords: '',
            persons: [
                {id: 1, name: 'AB1', age: 18},
                {id: 2, name: 'BC2', age: 19},
                {id: 3, name: 'CD3', age: 20},
            ],
            fillPersons: []
        },
        watch: {
            keyWords: {
                immediate: true,
                handler(value) {
                    this.fillPersons = this.persons.filter((p) => {
                        return p.name.indexOf(value) !== -1
                    })
                }
            }
        }
    })*/
    new Vue({
        el: '#div1',
        data: {
            keyWords: '',
            persons: [
                {id: 1, name: 'AB1', age: 18},
                {id: 2, name: 'BC2', age: 19},
                {id: 3, name: 'CD3', age: 20},
            ]
        },
        computed: {
            fillPersons() {
                return this.persons.filter((p) => {
                    console.log(this)
                    return p.name.indexOf(this.keyWords) !== -1
                })
            }
        }
    })
</script>

</html>